[bumpversion]
current_version = 0.1.0
commit = True
tag = True
tag_name = {new_version}
message = bump version {current_version} → {new_version}

[bumpversion:file:lib/grafana_annotations/version.rb]

[bumpversion:file:README.md]

[bumpversion:file:Gemfile.lock]
search = grafana_annotations ({current_version})
replace = grafana_annotations ({new_version})
